body{
    background-color: white;
}

h1{
    color: black;
}

h2{
    color: rgb(0, 0, 94);
    font-size: x-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3{
    color: green;
    font-size: large;
}

p{
    color: rgb(0, 0, 0);
    font-size: medium;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title{
    color: rgb(181, 78, 10);
    font-family: monospace;
    font-size: xx-large;
    background-color: rgb(188, 206, 255);
    padding: 20px;
}

.location-desc{
    font-weight: bold;
}

.location-container{
    display: flex;
    gap: 5%;
    padding: 20px;
}

.compSciImage{
    justify-self: stretch;
    align-self: center;
    width: 80%;
    height: auto;
    border-radius: 25%;
}

.about-container {
    display: grid;
    grid-template-areas:
        "DDD"
        "EFG"
        "EFG";
    gap: 20px;
    background-color: rgb(188, 206, 255);
    padding: 20px;
}

.about-container h2 {
    grid-area: DDD;
    color: rgb(181, 78, 10);
}

.about-container section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.about-container section h3 {
    margin-bottom: 10px;
    font-size: x-large;
    color: rgb(181, 78, 10);
}

.about-container section p {
    text-align: center;
}

.about-container section img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

