body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, rgba(255, 122, 179, 1), rgb(26, 26, 46));
    color: rgba(255, 255, 255);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase;
    color: rgba(255, 204, 203, 1);
    text-shadow: 2px 2px rgba(214, 40, 40);
}

h2 {
    text-transform: uppercase;
    color: rgba(255, 218, 119, 1);
    text-shadow: 1px 1px rgba(255, 102, 0);
}

h3 {
    text-transform: uppercase;
    font-size: 24px;
    color: rgba(165, 238, 199);
    text-shadow: 1px 1px rgba(255, 102, 0);
}

p {
    font-size: 18px;
    margin: 10px 0;
    text-align: justify;
}

ul, ol {
    margin: 15px;
    padding: 0 20px;
    font-size: 18px;
    color: rgba(255, 255, 255);
}

li {
    margin: 8px 0;
}

ol li span {
    display: block;
    font-style: italic;
    font-size: 16px;
    color: rgba(200, 200, 200, 1);
}

section {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 900px;
}

img.gifImg {
    display: block;
    margin: 15px auto;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

ul li:hover {
    color: rgba(255, 204, 203, 1);
}

img.gifImg:hover {
    transform: scale(1.1);
}

button {
    padding: 8px 15px;
    background-color: rgba(255, 122, 179);
    color: white;
    transition: background-color 0.3s;
}
