body{
    background-color: white;
}

h1{
    color: black;
}

h2{
    color: blue;
    font-size: x-large;
}

h3{
    color: green;
    font-size: large;
}

p{
    color: grey;
    font-size: medium;
}