doctype html
link(rel='stylesheet' href='css/student3.css')

head
    title Systems Engineering (PhD) - student 3
body
    h1 Oliver MacDonald
    h2.title Systems Engineering (PhD)
    section.location-container 
        h2 Location
        section
            p.location-desc Located on Earth in the vibrant city of Boise, Idaho, Boise State University is known for its beautiful campus, innovative programs, and proximity to the stunning Rocky Mountains.
            img.compSciImage(src="img/BSU_CompSciBuilding.png", alt="Photo of Boise State Computer Science Department Building")
    section.about-container
        h2 About
            section
                h3 Innovative Research
                p The program emphasizes cutting-edge research in systems engineering, focusing on solving complex, real-world problems in areas like energy, transportation, and critical infrastructure.
                img(src="img/self_driving_car.jpg", alt="Photo of a self driving car")
            section 
                h3 Interdisciplinary Learning
                p Students gain a broad understanding of engineering disciplines by combining technical knowledge with human-centered approaches, ensuring solutions are practical and impactful.
                img(src="img/psych_exhibit.jpg", alt="Photo of a psychology magazine ad")
            section 
                h3 Scalable Framework Development
                p The program prepares students to design scalable frameworks and integrate emerging technologies like AI and ML into modern engineering systems.
                img(src="img/framework.jpg", alt="Photo of the inside of an architectural dome")
    section 
        h2 Things To Do 
        p Here are some of the different things that you can accomplish with this degree:
        ul 
            li 
                p Advance technology for critical infrastructure systems, improving reliability and efficiency.
            li 
                p Research and develop AI/ML solutions tailored for industry applications, bridging the gap between engineering and technology.

    if comments.length > 0
      section
        h2 Comments
        p Here are some comments from the community!
        ul
          each comment in comments
            li
              = comment.comment
              section Author: 
                = comment.author
    else
      section

    section 
        form(action="/student3/comments", method="GET", style="display:inline;")
            button(type="submit") Leave A Comment
