doctype html
link(rel='stylesheet' href='css/student3.css')

head
    title Systems Engineering (PhD) - student 3
body
    h1 Oliver MacDonald
    h2 Systems Engineering (PhD)
    section 
        h2 Location
        p A single paragraph should briefly describe the Universities location. Locations could be anywhere including Saturn. 🪐
    section
        h2 About
            section
                h3 heading 1
                p single paragraph describing heading 1
            section 
                h3 heading 2
                p single paragraph describing heading 2
            section 
                h3 heading 3
                p single paragraph describing heading 3
    section 
        h2 Things To Do 
        ul 
            li 
                p Things someone can do with this major 1
            li 
                p Things someone can do with this major 1
            //- for (let i = 0; i < comments.length; i++)
