doctype html
html
  head
    title Comments 
  body
    header
      h1 Comment Section
      nav
        ul
          li: a(href='/student2') Back to Underwater Basket Weaving
    main
      section
        h2 Leave a Comment
        form(action='/submit-comment' method='POST') 
          label(for='name') Name:
          input(type='text' id='name' name='name' required)
          br
          label(for='comment') Comment:
          textarea(id='comment' name='comment' required)
          br
          button(type='submit') Submit
      section
        h2 Previous Comments
       

         
    footer
      p Copyright © 2024 University of AWESOME!
