doctype html
html
  head
    title Party Bachelors- student 1  body
    h1 Update Your Comment
        form(action="/student1/comments/update" method="POST")
            input(type="hidden" name="id" value=comments.id)
            textarea(name="comment" required)= comments.comment
            input(type="text" name="author" value=comments.author required)
            button(type="submit") Update Comment