doctype html
link(rel='stylesheet' href='css/student1.css')

head
    title Party Bachelors Hub
body
    h1 Master the Art of Patying - Because partying hard is never enough.
    h2 Party Sciences
        section
            h2 Location
                p The college of party sciences is located in the core of the planet Earth. Our parties are so heated up that we alone are able to keep the core of this planet *HOT*. We plan on expanding our college and in the future create new campus for our major in different planets cores.
        section
            h2 About
                section
                    h3 History
                        p Party Sciences has a rich history of alumnis that enjoy partying as maybe you do. The tradition to party in our major originated from ancient traditions of the beings that once were in the top of the food chain, amebas. These wise beings passed the tradition down until the University founder, Amebus Amembem, decided to more broadly offer the ability to party to everyone. Our gatherings are yet to be matched by any other colleges in the universe.
                section
                    h3 Core Values
                        p We abide to very important core vallues:
                            ol
                                li 
                                    Strong Dance Floor Diplomacy 
                                    |   "Respect all styles, dance types, partying methods"
                                li
                                    Strong The Party Should Never End
                                    |   "Why end something that should not be ended"
                                li 
                                    Strong Party Any Day, Anytime, Any Moment 
                                    |   "When there is an opportunity to party, be there"
                                li
                                    Strong Make Memories Like There Is No Tomorrow
                                    |   "Make history with parties that will never be forgotten"
                section
                    h3 Skills Acquired
                        p Some of the skills that you can acquire are: Advanced Dance Moves; Pro-Level Photo Taking; Ultimate Rythm Maker; Even Planning; Party Training; Loud Sounds Resistance; Perfect Entrance Timing; Movement Maestry; // separate these and add images
            

