doctype html
link(rel='stylesheet' href='css/student1.css')

head
    title Party Bachelors Hub
body
    h1 Master the Art of Patying - Because partying hard is never enough
    h2 Party Sciences
        section
            h2 Location
                p The college of party sciences is located in the core of the planet Earth. Our parties are so heated up that we alone are able to keep the core of this planet *HOT*. We plan on expanding our college and in the future create new campus for our major in different planets cores.
        section 
            h2 About
                section
                    h3 History
                        p Party Sciences has a rich history of alumnis that enjoy partying as maybe you do. The tradition to party in our major originated from ancient traditions of the beings that once were in the top of the food chain, amebas. These wise beings passed the tradition down until the University founder, Amebus Amembem, decided to more broadly offer the ability to party to everyone. Our gatherings are yet to be matched by any other colleges in the universe.
                section
                    h3 Core Values
                        p We abide to very important core values:
                            ol
                                li 
                                    Strong Dance Floor Diplomacy 
                                    |   "Respect all styles, dance types, partying methods"
                                li
                                    Strong The Party Should Never End
                                    |   "Why end something that should not be ended"
                                li 
                                    Strong Party Any Day, Anytime, Any Moment 
                                    |   "When there is an opportunity to party, be there"
                                li
                                    Strong Make Memories Like There Is No Tomorrow
                                    |   "Make history with parties that will never be forgotten"
                section 
                    h3 Skills Acquired
                        p Some of the skills that you can acquire are: 
                            p Advanced Dance Moves;
                            img.gifImg(src="https://i.giphy.com/IwAZ6dvvvaTtdI8SD5.webp", alt= "Gif of funny dance for the office characters")
                            p Pro-Level Photo Taking;
                            img.gifImg(src="https://y.yarn.co/dd9571c1-5fda-496a-867d-36c585faceba_text.gif", alt= "The Offica character stating: does anyone have a camera here")
                            p Ultimate Rythm Maker;
                            img.gifImg(src="https://media.tenor.com/G2K-RHAELlIAAAAM/the-office.gif", alt="The office character dancing in a weird way")
                            p Event Planning;
                            img.gifImg(src="https://media0.giphy.com/media/lMIlAK1cwx1PlWqJld/200w.gif?cid=6c09b952h3ms2kqip3sa4kk6uzp697qiumxawseus68115k3&ep=v1_gifs_search&rid=200w.gif&ct=g", alt="Character from the The Office show stating, would you like to join the party planning comitee?")
                            p Party Training;
                            img.gifImg(src="https://media0.giphy.com/media/rL7wvjlR0qRdhb2G56/giphy.gif?cid=6c09b952cct67jvs19gt9oiev0ks0ss7lhpbv0ypaup1apo6&ep=v1_gifs_search&rid=giphy.gif&ct=g", alt="The office character stating, the party comitee is all over it")
                            p Loud Sounds Resistance;
                            img.gifImg(src="https://media.tenor.com/9HAnDBAOjwYAAAAM/everybody-dance-now-speaker.gif", alt="The Office character with a sound box stating: everybody dance now")
                            p Perfect Entrance Timing;
                            img.gifImg(src="https://i.gifer.com/fy7A.gif", alt="Character from the show The Office entering a room and rolling the couch")
                            p Movement Maestry;
                            img.gifImg(src="https://media.tenor.com/sx97Y6EF3ioAAAAM/gif.gif", alt="Character from the show The Office falling")
        section 
            h2 Things To Do
                img.gifImg(src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExd2Rkb3B6Zjk0bm5neTFxdmVua2dzbmJsYzJqemRvcTc4OWd0MWc1aSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l2JdXy8xasypvE0Ni/giphy.webp", alt= "Gif of people partying")
                ul
                    li Party
                    li Dance
                    li Sing
                    li Snacking
                    li Karaoke
                    li Vibe
                    li  Have I said Party?



